@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


.txt-login {
  background-color: blue;
  color: white;
  padding: 10px 0 10px 10px;
  font-family: Roboto;
  font-size: 25px;
}

